
@import url('https://fonts.googleapis.com/css?family=Exo+2|Slabo+27px');

#header { 
  background: url('https://raghuwrites.github.io/unit_3/images/milky-way.jpg') no-repeat center center; 
  /*for some reason, every time I set the path to images/milky-way.jpg, the error message said images folder is in CSS folder*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding-top: 1px;
}

h1 {
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  top: 43%;
}

#slogan {
  position:absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 20px;
  top: 54%;
  font-style: italic;
}

#call {
  color: #fff;
  font-family: Helvetica;
  bottom: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}

body {
  margin: 0px 0px;
}

.column {
  padding-top: 50px;
  width: 95%;
  max-width: 450px;
  margin: 0 auto;
}

p {
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
}

li {
  font-size: 20px;
}

h2 {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

img {
  width: 100%;
}

