
/*FONT*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lora');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'si';
    src: url('https://raghuwrites.github.io/unit_9/fonts/socicon.eot');
    src: url('https://raghuwrites.github.io/unit_9/fonts/socicon.eot?#iefix') format('embedded-opentype'),
         url('https://raghuwrites.github.io/unit_9/fonts/socicon.woff') format('woff'),
         url('https://raghuwrites.github.io/unit_9/fonts/socicon.ttf') format('truetype'),
         url('https://raghuwrites.github.io/unit_9/fonts/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*ELEMENT SELECTORS*/

body {
    margin: 0px 0px;
    font-size: 16px;
}

h1 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 3.5em;
    text-transform: uppercase;
    font-weight: 800;
    max-width: 100%;
    margin: auto;
}

h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

img {
    width: 100%;
}

nav ul {
    font-size: .8em;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba (0,0,0,0.0);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.8em 1em;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

header { 
    background: url('https://raghuwrites.github.io/unit_9/images/universe-header.png') no-repeat center center; 
    /*for some reason, every time I set the path to images/milky-way.jpg, the error message said images folder is in CSS folder*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
    /*padding-top: 1px;*/
/*    padding: 20px;*/
}

section {
    font-family: 'Lora', serif;
    padding-top: 3.1em;
    width: 100%;
/*    max-width: 620px;
*/    margin: 0 auto;
    padding: 1.2em;
}

footer {
    padding-top: 3.1em;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1.2em;
}

article {
    padding: 1.2em;
}



/*CLASSES*/

.section .examples {
  width: 60%;
/*  max-width: 400px;
*/  margin: 0 auto;
}

p.text {
  color: #fff;
}

.fa-chevron-circle-down {
  color: white;
  position: absolute;
  font-size: 1em;
  bottom: .6em;
  width: 100%;
  text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.two_column {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.left {
    padding: 5px 5px 0 5px;
    float: left;
    width: 50%;
}
.right {
    padding: 5px 5px 0 5px;
    float: right;   
    width: 50%;
}

.video-container {
  width: 100%;
  height: 56.25vw;
  max-height: 338px;
  position: relative;
}

.video-container iframe {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-circle {
  border-radius: 50%;
}

p.caption {
  font-size: .8em;
}

.column {
  width: 60%;
  max-width: 400px;
  margin: 0 auto;
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    margin: 0 auto;
    text-align: center;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration: none;
    text-align: center;
    display:block;
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 19px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
/*    margin-right: 12px;
*/    color: #ffffff;
    background-color: #16313A;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'\e040';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-googleplus:before {
    content:'\e042';
}
.soc-linkedin:before {
    content:'\e049';
}
.soc-vimeo:before {
    content:'\e052';
}
.soc-github:before {
    content:'\e030';
}


/*IDS*/

#title {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

#title img {
  width: 50%;
}

#slogan {
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 1.2em;
  top: 54%;
  font-style: italic;
  font-family: 'Lora', serif;
}

#call {
  color: #fff;
  font-family: 'Lora', serif;
  text-align: center;
}

#box {
  border-style: solid;
  border-width: .15em;
  position: relative;
  max-width: 50%;
  margin: auto;
  color: #fff;
}

#interactives {
  background-color: #16313A;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    font-size: .8em;
  } 
  body {
    font-size: 1.2em;
  }
  .right {
    float: none;
    width: 100%;
  }
  .left {
    float: none;
    width: 100%;
  }
@media only screen and (max-width: 410px) {
  h1 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 325px) {
  h1 {
    font-size: 1.4em;
  }
}